@inherits ViewPage<ActivationMail>

@{
    Layout = null;
    ViewBag.Title = "";
}

<!DOCTYPE HTML>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>        
        <h1>Login</h1>
        
        <div id="content">
            @Model.ActivationKey
            @Model.User.DisplayName
            @Model.User.UserName

        </div>
        
    </body>
</html>
