@inherits ViewPage<WelcomeMail>

@{
    Layout = null;
    ViewBag.Title = "";
}


<!DOCTYPE HTML>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>        
        <h1>Login</h1>
        
        <div id="content">
            Hello Email!!

        </div>
        
    </body>
</html>
